{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-center flex-grow-1">Barcha kitoblar</h1>
        <a href="{% url 'book_add' %}" class="btn btn-success">Qo'shish</a>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#uploadModal" style="margin-left: 15px;">
            <i class="fas fa-file-excel"></i> Yuklab olish
        </button>
    </div>
</div>

<form id="search-form">
    <table class="table">
        <thead>
            <tr>
                <th>Kitob kodi</th>
                <th>Nomi</th>
                <th>Yozuvchilari</th>
                <th>Yili</th>
                <th>Tili</th>
                <th>Soni</th>
            </tr>
            <tr>
                <td><input type="text" name="code" class="form-control" placeholder="Code" ></td>
                <td><input  type="text" name="name" class="form-control" placeholder="Name" ></td>
                <td><input type="text" name="author" class="form-control" placeholder="Author" ></td>
                <td><input type="text" name="year" class="form-control" placeholder="Year" ></td>
                <td><input type="text" name="language" class="form-control" placeholder="Language" ></td>
                <td><input type="text" name="number" class="form-control" placeholder="Number" ></td>
            </tr>
            {% for book in object_list %}
            <tr>
                <td style="text-align: center;">{{ book.book_code }}</td>
                <td><a href="{% url 'book_detail' book.pk %}" style="text-decoration: none; color: #00008B;"><strong>{{ book.name }}</strong></a></td>
                <td>{{ book.authors }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.book_lang }}</td>
                <td>{{ book.number }}</td>
            </tr>
            {% endfor %}
        </thead>

    </table>
</form>


<!-- Modal Exceldan yuklash uchun -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="uploadModalLabel">Excel Fayl Yuklash</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="excelFile" class="form-label">Fayl tanlang</label>
                        <input type="file" class="form-control" name="excel_file" id="excelFile" accept=".xlsx, .xls">
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-success">Yuklash</button>
                    </div>
                </form>

                {% if message %}
                    <script>
                        alert("{{ message }}");
                        window.location.href = "{% url 'books' %}";
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}