{% extends 'base.html' %}
{% block content %}
 <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg p-4">
                    <h2 class="text-center mb-4">Parolni o'zgartirish</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Yangilash</button>
                            <a href="{% url 'profile' %}" class="btn btn-secondary">Bekor qilish</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}