{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-center flex-grow-1">Barcha talabalar</h2>
        <a href="{% url 'pupil_add' %}" class="btn btn-success">Qo'shish</a>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#uploadModal" style="margin-left: 15px;">
            <i class="fas fa-file-excel"></i> Yuklab olish
        </button>
    </div>
</div>
<form id="search-form">
    <table class="table">
        <thead>
            <tr>
                <th style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 10;">Id</th>
                <th style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 10;">Ismi</th>
                <th style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 10;">Familiyasi</th>
                <th style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 10;">Guruhi</th>
                <th style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 10;">Kursi</th>
                <th style="position: sticky; top: 0; background-color: #f8f9fa; z-index: 10;">Olgan kitoblari</th>
            </tr>
            <tr>
                <td><input type="text" name="id" class="form-control" placeholder="Id" ></td>
                <td><input type="text" name="first_name" class="form-control" placeholder="Ismi" ></td>
                <td><input type="text" name="last_name" class="form-control" placeholder="Familiyasi" ></td>
                <td><input type="text" name="group" class="form-control" placeholder="Guruhi" ></td>
                <td><input type="text" name="course" class="form-control" placeholder="Kursi" ></td>
                <td><input type="text" name="books" class="form-control" placeholder="Olgan kitoblari" ></td>
            </tr>
            {% for pupil in object_list %}
            <tr>
                <td style="text-align: center;"><a href="{% url 'pupil_detail' pupil.pk %}">{{ pupil.id }}</a></td>
                <td>{{ pupil.first_name }}</td>
                <td>{{ pupil.last_name }}</td>
                <td>{{ pupil.group }}</td>
                <td>{{ pupil.course }}</td>
                <td>{{ pupil.books }}</td>
            </tr>
            {% endfor %}
        </thead>

    </table>
</form>

<!-- Modal oynasi -->
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="uploadModalLabel">Excel Fayl Yuklash</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="excelFile" class="form-label">Fayl tanlang</label>
                        <input type="file" class="form-control" name="excel_file" id="excelFile" accept=".xlsx, .xls">
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-success">Yuklash</button>
                    </div>
                </form>

                {% if message %}
                    <script>
                        alert("{{ message }}");
                        window.location.href = "{% url 'pupils' %}";
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}